
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.App {
  background-image: url('static/scenery.jpg');
  text-align: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}




.navbar {
  position: relative;
  overflow: hidden;
}

.nav-logo {
  float: left;
  padding-left: 15px;
  padding-top: 15px;
}

.nav-centre {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-centre span {
  font-size: 20px;
  color: burlywood;
  font-weight: bold;
}

.nav-right {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}

.card {
  max-width: 18rem;
}

.card-content {
  display: flex;
  text-align: left;
  margin: 0 auto;
}

.user-image {
  padding-top: 12px;
}

.user-creator {
  padding-left: 8px;
}